<%- include("partials/header.ejs") %>
<div class="bg"></div>
<div class="container quoteContent">
    
    <div class="content">
        <h2>Advices</h2>
        <h2>Advices</h2>
      </div>
    <div class="quoteBox">
        <form action="/advices" method="GET">
            <div class="card">
                <p class="quoteText">
                    <%= advice %>
                </p>
                <div class="container quoteButton">
                    <button class="button btn btn-primary" type="submit">
                        New Advice
                    </button>
                </div>
             </div>
        </form>
    </div>
</div>
<%- include("partials/footer.ejs") %>