<%- include("partials/header.ejs") %>


<div class="container quoteContent">
    <div class="content">
        <h2>Riddles</h2>
        <h2>Ridlles</h2>
      </div>
    <div class="quoteBox">
        <form action="/generate" method="POST">
            <div class="container switchQuoteTopic">
                <p class="switchText">Programmer quotes</p>
                <label class="switch">
                    <input type="checkbox" name="programmerCheckbox" <%= checked %>>>
                    <span class="slider"></span>
                </label>
            </div>
            <div class="card">
                <p class="quoteText">
                    riddles
                </p>
                <p class="quoteText">
                    - answer
                </p>
                <div class="container quoteButton">
                    <button class="button btn btn-primary" type="submit">
                        New Quote
                    </button>
                </div>
             </div>
        </form>
    </div>
</div>
<%- include("partials/footer.ejs") %>