<%- include("partials/header.ejs") %>
<div class="bg"></div>
<div class="quoteContent">
    <h1 class="text-white">
        Inspirational quotes !
    </h1>
</div>
<%- include("partials/footer.ejs") %>